@import "../utilities/variables";

@media screen and (max width 320px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "tpap"
        "tad"
        "tae";
    }
}