.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px 450px;
    grid-template-areas: 
    "tpap tad tae"
    "tpap tad tae";
    margin: 30px;

}

.Puerta{
    grid-area: tpap;
    text-align: center;
}
.Puerta img{
    width: 25rem;
}
.Distancia{
    grid-area: tad;
    text-align: center;
}
.Distancia img{
    width: 25rem;
    
}
.sempre{
    grid-area: tae;
    text-align: center;
    margin-bottom: 30%;

}
.sempre img{
    width: 25rem;
    
}